:host{
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content auto max-content;
  grid-template-areas:
    "header"
    "nav-menu"
    "content"
    "footer";
  // define mobile layout first, then add media queries for the rest
  // https://gridbyexample.com/examples/example13/

}

gfg-header {
  grid-area: header;
}

gfg-nav-menu {
  grid-area: nav-menu;
}

router-content {
  display: none; // Fix router outlet from influencing the grid
  // grid-area: router-content;
 }

// Attempt at setting an attribute for the injected component
[content] {
  grid-area: content;
  background: greenyellow;
}

// Attempt at selecting the injected component (the subsequent sibling of the router)

 router-outlet + * {
   display: none;
   grid-area: content;
   background: blue; /* DEBUG: CSS is applied as expected if the background changes */
} 

gfg-footer {
  grid-area: footer;
}
